body{
    background: radial-gradient(#e5e5e5,#ffff,#e5e5e5);
}
.card{
    width: 20rem;
    height: 23rem;
}

.card:hover{
    box-shadow: 5px 10px 20px 1px rgba(0,0,0,0.253)!important;
    color: chocolate;
}

.card-body{
    padding: 3rem 0!important;
    
}
.row-form{
    padding-top: 1rem;
    padding-left: 1rem;
    padding-right: 1rem;
}

.card-text{
    font-size: large;
    padding: 0.4rem 1.9rem;
}

.container-fluid.row{
    padding-top:2rem;
    padding-left: 15rem;
}

.overflow{
    overflow: hidden;
}

.card-img-top{
    transform: scale(1);
    transition: transform 0;
}

.card-img-top:hover{
    transform: scale(1.3);
}

.font-format{
    font-size: larger;
    font-weight: 500;
}

.cascader-format{
    float: right;
    padding-top: 2rem;
    padding-left: 2rem;
}
.vendorDisplayCard{
    width: 100%;
}

.container-format{
    width: 100%;
}
.image-row{
   
    width: 100%;
    flex-direction: row;
    flex-wrap: wrap;
}
.font-header{
    font-size: 40px;
    font-weight: normal;
    padding-top: 1rem;
    padding-left: 2rem;
    flex-direction: row;
}
.cascader{
    padding-left: 2rem;
}

* {box-sizing: border-box;}
body {font-family: Verdana, sans-serif;}
.mySlides {display: block;}
img {flex: 1;resize : horizontal;}

/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

/* Caption text */


/* Number text (1/3 etc) */


/* The dots/bullets/indicators */



/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
  .text {font-size: 11px}
}

.font-product{
    font-size: 1.5rem;
    font-weight: 500;
}
.popup-format{
    padding-top: 2rem;
    padding-right: 2rem;
}
.font-heading{
    font-size: 2rem;
    font-weight: 400;
}