.row-form {
    margin-top: 15px;
    margin-right: 40px;
    float: right;
}

.bg {
    background-image: url("../images/loginbg2.jpg");
    height: 1000px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.headerLogin {
    display: flex;
    justify-content: space-between;
    align-items: center;
}